@media(max-width:1280px) {

  .body-header h1 {
    /* border: 1px black solid; */
    /*   font-size: 4em; */
  }

  /* INTOR CONTENT */
  /* .intro .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /* border: 1px black solid; */
  /* } */

  .intro .content .text {
    flex-basis: 85%;
    width: 100%;
  }

  .intro .content .text h1 {
    font-size: 3.5em;
  }
  .intro .content .text h3 {
    font-size: 2.5em;
  }

  .intro .content img {
    width: 100%;
    flex-basis: 75%;
    border-radius: 1000px;
    /* border: 3px red solid; */
  }

  .stack .content h4 {
    margin: 1em;
    font-size: 3.0em;
  }

  .body-footer .content h5 {
    font-size: 3.0em;
    margin: 1em;
  }

  .stack .content div {
    flex-basis: 50%;
  }
  
  .stack .content img {
  margin-left:3em;
  }
  
  .stack .content h4 {
margin-left:auto;
margin-right:auto;

}

  .body-footer .content a {
    flex-basis: 20%;
  }

  .project {
    flex-direction: column;
  }

  .project header {
    margin: 5%;
    width: 90%;
    align-self: center;
    order: 1;
  }
  .project img {
    border-radius: 24px 24px 0 0;
  }

  .project header .button {
    width: 25%;
    align-self: flex-end;
  }
}
